@page "/p01analitico"

<div class="container">
    <div class="row">
        <h4>Relatório Analítico Contas a Pagar - P01</h4>
    </div>
</div>

<GetParametrosContasAPagarP01 ParametrosCallBack="GerarRelatorio"></GetParametrosContasAPagarP01>

@code {
    private ParametrosContasAPagarP01 parametros;


    private void GerarRelatorio(ParametrosContasAPagarP01 parametros)
    {

    }
}
