

<div class="container-fluid">
    <br />
    <div class="row justify-content-center">
        <h4>Painel Tesoraria <MatIcon Icon="query_stats"></MatIcon> </h4>
    </div>
    <hr />
    <br />
    <br />
    <div class="row justify-content-center">
        <SaldoEmAbertoPorFilialComponet></SaldoEmAbertoPorFilialComponet>
        <TopMaioresExposicoes></TopMaioresExposicoes>
        <TopMaioresCredores></TopMaioresCredores>
    </div>
    <hr style="padding-bottom:2rem;" />
    <div class="row">
        <h5>Recebimentos do dia</h5>
        <RecebimentosDoDia></RecebimentosDoDia>
    </div>

    <hr style="padding-bottom:2rem;" />
    <div class="row">
        <h5>Despesas do dia</h5>
        <PagametosDoDia></PagametosDoDia>
    </div>

    <hr style="padding-bottom:2rem;" />
    <div class="row">
        <h5>Recebíveis em atraso</h5>
        <RecebiveisEmAtraso></RecebiveisEmAtraso>
    </div>

    <hr style="padding-bottom:2rem;" />
    <div class="row">
        <h5>Despesas pendendes</h5>
        <PagamentosEmAtraso></PagamentosEmAtraso>
    </div>
</div>

@code {

}
